<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MyWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
 
  
  <servlet>
      <servlet-name>MyWeb</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
            <param-name>contextConfigLocation</param-name>
            <!-- <param-value>classpath:application-context.xml</param-value> -->
            <param-value>classpath:MyWeb-servlet.xml</param-value> 
      </init-param><!-- classpath：只会到你的class路径中查找找文件; 
            classpath*：不仅包含class路径，还包括jar文件中(class路径)进行查找.  -->
      <load-on-startup>1</load-on-startup>
  </servlet>

    <!-- 如果不配置servlet-mapping服务器就无法响应/请求 -->
  <servlet-mapping>
        <servlet-name>MyWeb</servlet-name>
        <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  
  
   <listener>
       <display-name>NettyServerBootstrapListener</display-name>
      <listener-class>com.vincent.julie.netty.NettyServerBootstrapListener</listener-class>
  </listener>
  
  <listener>
  	<display-name>MyWebInitListener</display-name>
  	<listener-class>com.vincent.julie.MyWebInitListener</listener-class>
  </listener>
  
  <listener>
      <display-name>QuartzContextListener</display-name>
      <listener-class>com.vincent.julie.utils.QuartzContextListener</listener-class>
  </listener>
  
  
  
  
</web-app>